{% load otree staticfiles %}

<div class="instructions well well-lg">

    <p>
        Thank you for participating in today’s experiment. Please switch off your cell phone, do not
        talk to other participants, and do not communicate with others using the PC.
    </p>

    <p>
        You have been randomly assigned to a group of <b> 4 people </b> – but will only conduct this
        experiment by yourself. You will not be made aware of the identity of the others in your
        group (or any other group) at any time – neither will anyone else be made aware of your identity.
        During the experiment, no one is allowed to communicate with anyone else.
    </p>

    <p>
        Everyone in the group has been given <b> 100 tokens </b> as an endowment in addition to the
        show-up fee. All of you will receive this endowment in every round of this experiment. In the
        experiment, you can freely decide how much of this amount to keep for yourself and how much to
        contribute to the joint group account. Everyone in the group will make this choice, and is allowed
        to contribute any amount between 0 and 100 tokens.
    </p>

    <p>
        The sum of all contributions from all four group members will be <b> doubled </b> and the resulting
        total amount in the group account will then be divided among the four people in the group.
        One person has randomly been assigned the role of the group manager who also received 100
        tokens and who contributes to the group account. The manager decides about allocation of
        the group account. What is important to remember is that it is up to the manager to decide
        how much you will receive from the group account. That is, the manager knows everyone’s
        contribution when the manager divides the group account and defines the shares. The share
        that you receive from the group account will then be added to the amount you decided to
        keep for yourself. Also note that the manager cannot keep anything in the group account,
        which means that at the end of each round the group account is always zero after the manager has defined
        the shares for everyone. This also means that the manager can significantly influence everyone’s earnings.
    </p>

    <p>
        You will engage in this experiment over <b> 12 rounds </b>. In each round, you and the
        others make the same decisions, i.e. you decide how much you will keep for yourself and how
        much you will contribute to the group account. At the beginning of the next round you will
        know what the others did in the previous round and the others will see what you did in the
        previous round. In each round, the combined contributions will be doubled before the manager
        decides the shares for each group member. In all the rounds, you can contribute with a minimum
        of 0 (zero) tokens and maximum of 100 (one hundred) tokens to the group account. All this
        information is displayed to everyone using the following abbreviations:
    </p>

    <ul>
        <li>Contr. - <b><i> Contribution </i></b>: What everyone has contributed in a given round </li>
        <li>Est. Ern. - <b><i> Estimated Earnings </i></b>: What would be the doubled contribution </li>
        <li>Real Ern. - <b><i> Real Earnings </i></b>: What everyone earned based on the Manager’s decision </li>
    </ul>

    <p>The actual real earnings will be displayed with the following colours:</p>
    <ul>
        <li>Black: when your actual real earning is equal to the estimated earnings</li>
        <li style="color: green"> Green: when your actual real earning is higher than the estimated earnings</li>
        <li style="color: red"> Red: when your actual real earning is lower than the estimated earnings</li>
    </ul>

    <p>
        Note that truncated numbers without decimals are displayed for everyone. The computer calculates
        your earnings with decimals. Your task is to maximize your accumulated real earnings.
    </p>

    <p>
        If you have any questions please raise a hand and an instructor will come to you.
    </p>

</div>