{% load otree staticfiles %}

<div class="instructions well well-lg">

    <p>
        Thank you for participating in today’s experiment. Please switch off your cell phone, do not talk
        to other participants, and do not communicate with others using the PC.
    </p>

    <p>
        You have been randomly assigned to a group of <b> 4 people </b> – but will only conduct this
        experiment by yourself. You will not be made aware of the identity of the others in your
        group (or any other group) at any time – neither will anyone else be made aware of your
        identity. During the experiment, no one is allowed to communicate with anyone else.
    </p>

    <p>
        Everyone in the group has been given <b> 100 tokens </b> as an endowment in addition to the
        show-up fee. All of you will receive this endowment in every round of this experiment.
        In the experiment, you can freely decide how much of this amount to keep for yourself and
        how much to contribute to the joint group account. Everyone in the group will make this
        choice, and is allowed to contribute any amount between 0 and 100 tokens.
    </p>

    <p>
        The sum of all contributions from all four group members will be doubled by the experimenter
        and the resulting total amount in the group account will then be divided among the four people
        in the group, irrespective of what they have contributed. A group manager decides how much of
        the group account everyone receives. You have randomly been selected as the manager and you
        will decide the amounts that everyone will receive from the group account. It is entirely up
        to you how much you give to the others and how much you keep for yourself; you just need to
        make sure that there are no remaining tokens in the group account at the end of every round.
        Your role as the manager is important as you can significantly shape everyone’s earnings.
        Before you decide upon everyone’s shares, you will obtain information concerning each group
        member’s individual contribution, which can range between 0 (zero) and 100 (one hundred)
        tokens, and which is displayed in a decision window at the right-hand side of the screen.
        Only you, as the manager, can see this window. It uses the following abbreviations:
    </p>

    <ul>
        <li>AC - <b><i> Actual contribution </i></b>: What everyone has contributed in a given round </li>
        <li>FDA - <b><i> Fairly Distributed Amount </i></b>: What would be everyone’s doubled contribution </li>
        <li>AP - <b><i> Actual Payout </i></b>: Everyone’s actual earnings in a given round </li>
    </ul>

    <p>
        The Actual Payout is what you, as the manager, need to decide for every group member
        (including yourself) and what you fill in the box within the decision window in every
        round. The group account needs to be empty after every round. It may occur that you wish
        to equally divide the group account among all group members, but that this is not possible
        because numbers are difficult to divide. In this case you have an option to equal allocate
        the remaining amount (i.e. the residual) by simply ticking the corresponding box in the
        decision window. Keep in mind that the remaining residual is any amount of tokens that remains
        after you have allocated the Actual Payout – either to everyone or only a subset of the other
        participants. The remaining residual will be equally divided by the computer (e.g. 1 remaining
        tokens would result in 0.25 tokens for everyone), and added to the amount that this person initially
        decided to keep. When you have completed your allocations, the computer will ask you to confirm
        your decisions. Make sure you check the actual numbers before your click on the confirm button.
    </p>

    <p>
        You will engage in this experiment over <b> 12 rounds </b>. In each round, the others and
        you make the same decisions, i.e. you and the other group members will decide how much to
        keep and how much to contribute to the group account. At the beginning of the next round
        the others will see what you did in the previous round. All this information is displayed
        to everyone using the following abbreviations:
    </p>

    <ul>
        <li>Contr. - <b><i> Contribution </i></b>: What everyone has contributed in a given round </li>
        <li>Est. Ern. - <b><i> Estimated Earnings </i></b>: What would be the doubled contribution </li>
        <li>Real Ern. - <b><i> Real Earnings </i></b>: What everyone earned based on the Manager’s decision </li>
    </ul>

    <p>The actual real earnings will be displayed with the following colours:</p>
    <ul>
        <li>Black: when your actual real earning is equal to the estimated earnings</li>
        <li style="color: green"> Green: when your actual real earning is higher than the estimated earnings</li>
        <li style="color: red"> Red: when your actual real earning is lower than the estimated earnings</li>
    </ul>

    <p>
        Note that truncated numbers without decimals are displayed for everyone. The computer calculates
        your earnings with decimals. Your task is to maximize your accumulated real earnings.
    </p>

    <p>
        If you have any questions please raise a hand and an instructor will come to you.
    </p>

</div>