
<table class="table tableWrapper">
    <tr>
        <th colspan="3" scope="colgroup">Round</th>
        {% for g in Player_for_all_rounds %}
            <th colspan="3" scope="colgroup">{{ g.round_number }}</th>
        {% endfor %}
    </tr>

    <tr>
        <th colspan="3" scope="colgroup"></th>
        {% for g in Player_for_all_rounds %}
            <td scope="col">Contr.</td>
            <td scope="col">Est.</br>Ern.</td>
            <td scope="col">Real</br>Ern.</td>
        {% endfor %}
    </tr>

    <tr>
        <th colspan="3" scope="colgroup">Your Contribution</th>
        {% for p in player.in_previous_rounds %}
            <td>{{ p.contribution }}</td>
            <td>{{ p.fairlyDistributedAmount }}</td>
            <td class= "{% if p.earnings > p.fairlyDistributedAmount %}
                        payoutMore
                    {% elif p.earnings < p.fairlyDistributedAmount %}
                        payoutLess
                    {% endif %}">
                {{ p.earnings }}
            </td>
        {% endfor %}
    </tr>

    {% for o in player.get_others_in_group %}
        <tr>
            <th colspan="3" scope="colgroup">
                Player {{ o.id_in_group }}
                {% if o.role == 'Manager' %}
                (Manager)
                {% endif %}
            </th>
            {% if show_all_manager_data == False %}
                {% if player.role == 'Manager' %}
                    {% for p in o.in_all_rounds %}
                        <td>
                            {% if p.contribution %}
                                {{ p.contribution }}
                            {% endif %}
                        </td>
                        <td>
                            {% if p.fairlyDistributedAmount %}
                                {{ p.fairlyDistributedAmount }}
                            {% endif %}
                        </td>
                        <td class= "{% if p.earnings > p.fairlyDistributedAmount %}
                                    payoutMore
                                {% elif p.earnings < p.fairlyDistributedAmount %}
                                    payoutLess
                                {% endif %}">
                            {% if p.earnings != none %}
                                {{ p.earnings }}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% else %}
                    {% for p in o.in_previous_rounds %}
                        <td>
                        {% if p.contribution %}
                            {{ p.contribution }}
                        {% endif %}
                        </td>
                        <td>
                            {% if p.fairlyDistributedAmount != none %}
                                {{ p.fairlyDistributedAmount }}
                            {% endif %}
                        </td>
                        <td class= "{% if p.earnings > p.fairlyDistributedAmount %}
                                    payoutMore
                                {% elif p.earnings < p.fairlyDistributedAmount %}
                                    payoutLess
                                {% endif %}">
                            {% if p.earnings != none %}
                                {{ p.earnings }}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endif %}
            {% elif show_all_manager_data %}
                {% if o.role == 'Manager' %}
                    {% for p in o.in_all_rounds %}
                        <td>
                        {% if p.contribution %}
                            {{ p.contribution }}
                        {% endif %}
                        </td>
                        <td>
                            {% if p.fairlyDistributedAmount != none %}
                                {{ p.fairlyDistributedAmount }}
                            {% endif %}
                        </td>
                        <td class= "{% if p.earnings > p.fairlyDistributedAmount %}
                                    payoutMore
                                {% elif p.earnings < p.fairlyDistributedAmount %}
                                    payoutLess
                                {% endif %}">
                            {% if p.earnings != none %}
                                {{ p.earnings }}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% else %}
                    {% for p in o.in_previous_rounds %}
                        <td>
                        {% if p.contribution %}
                            {{ p.contribution }}
                        {% endif %}
                        </td>
                        <td>
                            {% if p.fairlyDistributedAmount != none %}
                                {{ p.fairlyDistributedAmount }}
                            {% endif %}
                        </td>
                        <td class= "{% if p.earnings > p.fairlyDistributedAmount %}
                                    payoutMore
                                {% elif p.earnings < p.fairlyDistributedAmount %}
                                    payoutLess
                                {% endif %}">
                            {% if p.earnings != none %}
                                {{ p.earnings }}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}

    <tr>
        <th colspan="3" scope="colgroup">Total Contribution</th>
        {% for g in group.in_previous_rounds %}
            <td colspan="3">{{ g.total_contribution }}</td>
        {% endfor %}
    </tr>
</table>