.container{
    margin-left: inherit;
    width: auto;
    position: relative;
}

.otree-body{
    max-width: none;
}

.informationBody, .informationNotes{
    float: left;
    margin-top: 10px;
}

.informationNotes > p{
    font-size: xx-small;
    margin: 0;
}

.inputWrapper{
    display: inline-block;
    border: 5px outset black;
    border-radius: 20px;
    padding: 5px;
    float: right;
    margin: 30px;
    width: 30%;
}

.table{
    margin-bottom: 0px;
    display: inline-table;
    width: 100%;
    table-layout: fixed;
}

.table th, .table td{
    border-bottom: 1px solid #dee2e6;
}

.table > tbody > tr > th, .table > tbody > tr > td{
    font-size: x-small;
    padding: 2px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.table > .PRTable > tr > th, .table > .PRTable > tr > td{
    float: none;
    border-left: none;
    border-right: none;
}

td{
    vertical-align: middle;
}

th{
    vertical-align: middle;
}

.tableRegulator{
    width: auto;
}

p, .control-label{
    font-size: x-small;
}

.roundStyle{
    font-weight: bold;
    font-size: small;
}

.tableWrapper{
    overflow-x:auto;
}

.formWrapper, .PRWrapper{
    padding: 5px;
    margin-top: 3%;
}

.formfieldHeader{
    width: auto;
}

.page-header{
    display: none;
}

.submitStyle{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submitCon{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttonStyle{
    margin-right: 3%;
}

.buttonPosition{
    display: inline-block;
    float: right;
    padding: 5px;
}
.payoutMore{
    color: green;
}

.payoutLess{
    color: red;
}

.alignCenter{
    text-align: center;
}

.inputWrapper p{
    margin-bottom: 0px;
    font-size: x-small;
    font-weight: bold;
}
